
body{
  background-color:#ffe0d8;
}
hr
{

  background-color: #b088f9;
  border-style: dotted none none;
  border-width: 10px;
  height: 2px;
  width:10%;
}
img{
				width: 200px;
				height: 200px;
				border-radius: 100%;
			}
h1
{
  color:#c70039;
}
h3{
  color:#a9294f;
}
